<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
</head>
<body>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Se déconnecter</button>
    </form>
    
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<p><a href="{% url 'nouvelle_demande' %}">Nouvelle demande de congé</a></p>
<p><a href="{% url 'mes_demandes' %}">Mes demandes</a></p>
<a href="{% url 'mon_solde' %}">Mon Solde</a>

{% if user.employe.get_role == 'DRH' %}
    <p><a href="{% url 'gerer_employes' %}">Gérer les employés</a></p>
{% endif %}

{% if user.employe.get_role == 'DRH' or user.employe.get_role == 'DIR' %}
    <p><a href="{% url 'rapport_absences_form' %}">Rapport absences par département</a></p>
{% endif %}
</body>
</html>
